*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  /*background-color: #282c34;*/
  height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  color: bisque;
}
.nav-container{
    width: 80%;
    margin: auto;
    min-height: 10vh;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.navbar a{
  text-decoration: none;
  color: bisque;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.navbar li{
  text-align: center;
}

a:hover{
  color: aqua;
}
.logo{
  font-family: 'Cairo', sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  text-decoration: none;
}
.logo a {
  text-decoration: none;
  color: bisque;
}

.logo:visited, .logo:link {
  text-decoration: none;
  color: bisque;
}

.logo:hover{
  color: aqua;
}
h1{
  margin-bottom: 10px;
}

.input-style{
  color: bisque !important;
  width: 80% !important;
}

.center{
}