body{
  background-color: #282c34;
  color: bisque;
}
.navbar{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
ul{
  list-style-type: none;

}
.navbar li{
  text-align: center;
  display: flex;
  padding-top: 20px;
}

.navbar a:hover{
  background-color: rgb(136, 46, 64);
  color: aqua;
}
a:link, a:visited {
  border: 1px solid black transparent;
  background-color: #61DBFB;
  color: black;
  padding: 14px 25px;
  text-decoration: none;
  box-shadow: 5px 10px 10px #888888;
}


.navbar img{
  width: 100px;
  height: 100px; 
}
.logo{
  border: 0;
  filter: invert(77%) sepia(11%) saturate(1968%) hue-rotate(154deg) brightness(96%) contrast(104%);

}
.logo:hover{
  filter: invert(18%) sepia(18%) saturate(7440%) hue-rotate(325deg) brightness(90%) contrast(80%);
}